.toolbar {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 3rem;
  background-color: #4649ff;
  border-radius: 1rem;
  padding: 0 1rem;
}

.toolbar__button {
  margin: 1rem 0;
}
